@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Noto Sans SC', sans-serif;
}

.container {
    position: relative;
    background-color: #C8D8EB;
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    max-width: 800px;
    padding: 1.5em 1em;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0 0 .5em;
    margin-right: 1.5em; 
}

p {
    max-width: 55ch;
    line-height: 1.5em;
}

img {
    height: 60vh;
    margin: 1em 0;
}

/*-------
nav styles
--------*/
.nav,
ul {
    padding: 0em 0em;
    margin: 0;
}

.nav {
    background-color: #7566A0;
    width: 0;
    position: absolute;
    z-index: 1;
    right: 15%;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 250ms ease-in ;
}

.nav-list-item {
    list-style-type: none;
    padding: 0.5em;
    margin: 0;
    transition: 100ms;
    font-weight: 700;
}

.nav-list-item:hover {
    cursor: pointer;
    background-color: #C724B1;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-list-item:hover .nav-link,
.nav-list-item:hover .close-menu-icon {
    color: white;
}

.open-menu {
    position: absolute;
    right: 5%;
}

.open-menu,
.close-menu {
    width: 3%;
    padding: 0.5em 2em 0 0;
}

.close-menu {
    width: 100%;
    text-align: right;
    padding-right: .5em; 
}

.open-menu:hover {
    color: hotpink;
    cursor: pointer;
}


/*-------
toggle styles
--------*/

.inactive-container {
    opacity: 60%;  
}

.active-nav {
    visibility: visible;
    width: 25%;
}
